{% extends 'layout.html' %}
{% load static %}


{% block content %}

<form action="/test" method="POST" class="flex  justify-evenly gap-4 p-4 w-full">
            {% csrf_token %}
            <div class="relative flex gap-4 flex-wrap items-stretch w-full transition-all rounded-lg ease-soft">
    <span class="text-size-sm ease-soft leading-5.6 absolute z-50 -ml-px flex h-full items-center whitespace-nowrap rounded-lg rounded-tr-none rounded-br-none border border-r-0 border-transparent bg-transparent py-2 px-2.5 text-center font-normal text-slate-500 transition-all">
      <i class="fas fa-search" aria-hidden="true"></i>
    </span>
    <input name="link" type="text" class="pl-8.75 text-size-sm focus:shadow-soft-primary-outline ease-soft w-1/100 leading-5.6 relative -ml-px block min-w-0 flex-auto rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 pr-3 text-gray-700 transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none focus:transition-shadow" placeholder="Paste tweet link..." />
  <button type="submit" class="font-bol bg-gradient-to-r from-fuchsia-400 to-purple-500 hover:from-pink-500 hover:to-orange-500 text-white font-semibold px-6 py-3 rounded-md">
  Analyze
</button>
</div>
</form>

<div class="w-full px-6 py-6 mx-auto">
    <div class="w-full max-w-full px-3 lg-max:mt-6 xl:w-3/12">
       <div class="relative flex flex-col min-w-0 break-words bg-white border-0 shadow-soft-xl rounded-2xl bg-clip-border">
          <div class="p-4 pb-0 mb-0 bg-white border-b-0 rounded-t-2xl">
             <div class="flex flex-wrap -mx-3">
                <div class="flex items-center w-full max-w-full px-3 shrink-0 md:w-8/12 md:flex-none">
                   <h6 class="mb-0">Profile Information</h6>
                </div>
             </div>
          </div>
          <div class="flex-auto p-4">
             <p class="leading-normal text-size-sm">Hi, I’m Alec Thompson, Decisions: If you can’t decide, the answer is no. If two equally difficult paths, choose the one more painful in the short term (pain avoidance is creating an illusion of equality).</p>
             <hr class="h-px my-6 bg-transparent bg-gradient-horizontal-light">
             <ul class="flex flex-col pl-0 mb-0 rounded-lg">
                <li class="relative block px-4 py-2 pt-0 pl-0 leading-normal bg-white border-0 rounded-t-lg text-size-sm text-inherit"><strong class="text-slate-700">Full Name:</strong> &nbsp; Alec M. Thompson</li>
                <li class="relative block px-4 py-2 pl-0 leading-normal bg-white border-0 border-t-0 text-size-sm text-inherit"><strong class="text-slate-700">Mobile:</strong> &nbsp; (44) 123 1234 123</li>
                <li class="relative block px-4 py-2 pl-0 leading-normal bg-white border-0 border-t-0 text-size-sm text-inherit"><strong class="text-slate-700">Email:</strong> &nbsp; alecthompson@mail.com</li>
                <li class="relative block px-4 py-2 pl-0 leading-normal bg-white border-0 border-t-0 text-size-sm text-inherit"><strong class="text-slate-700">Location:</strong> &nbsp; USA</li>
                <li class="relative block px-4 py-2 pb-0 pl-0 bg-white border-0 border-t-0 rounded-b-lg text-inherit">
                   <strong class="leading-normal text-size-sm text-slate-700">Social:</strong> &nbsp;
                   <a class="inline-block py-0 pl-1 pr-2 mb-0 font-bold text-center text-blue-800 align-middle transition-all bg-transparent border-0 rounded-lg shadow-none cursor-pointer leading-pro text-size-xs ease-soft-in bg-none" href="javascript:;">
                   <i class="fab fa-facebook fa-lg" aria-hidden="true"></i>
                   </a>
                   <a class="inline-block py-0 pl-1 pr-2 mb-0 font-bold text-center align-middle transition-all bg-transparent border-0 rounded-lg shadow-none cursor-pointer leading-pro text-size-xs ease-soft-in bg-none text-sky-600" href="javascript:;">
                   <i class="fab fa-twitter fa-lg" aria-hidden="true"></i>
                   </a>
                   <a class="inline-block py-0 pl-1 pr-2 mb-0 font-bold text-center align-middle transition-all bg-transparent border-0 rounded-lg shadow-none cursor-pointer leading-pro text-size-xs ease-soft-in bg-none text-sky-900" href="javascript:;">
                   <i class="fab fa-instagram fa-lg" aria-hidden="true"></i>
                   </a>
                </li>
             </ul>
          </div>
       </div>
    </div>
</div>
{% endblock content %}