{% extends 'layout.html' %}
{% load static %}


{% block content %}

 <form action="/test" method="POST" class="flex  justify-evenly gap-4 p-4 w-full">
            {% csrf_token %}
            <div class="relative flex gap-4 flex-wrap items-stretch w-full transition-all rounded-lg ease-soft">
    <span class="text-size-sm ease-soft leading-5.6 absolute z-50 -ml-px flex h-full items-center whitespace-nowrap rounded-lg rounded-tr-none rounded-br-none border border-r-0 border-transparent bg-transparent py-2 px-2.5 text-center font-normal text-slate-500 transition-all">
      <i class="fas fa-search" aria-hidden="true"></i>
    </span>
    <input name="link" type="text" class="pl-8.75 text-size-sm focus:shadow-soft-primary-outline ease-soft w-1/100 leading-5.6 relative -ml-px block min-w-0 flex-auto rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding py-2 pr-3 text-gray-700 transition-all placeholder:text-gray-500 focus:border-fuchsia-300 focus:outline-none focus:transition-shadow" placeholder="Paste tweet link..." />
  <button type="submit" class="font-bol bg-gradient-to-r from-fuchsia-400 to-purple-500 hover:from-pink-500 hover:to-orange-500 text-white font-semibold px-6 py-3 rounded-md">
  Analyze
</button>
</div>
</form>
     
{% if url %}<div class="flex justify-center gap-20 p-4 mx-auto">
<blockquote class="twitter-tweet shadow-xl rounded-2xl"><a href="{{url}}"></a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
   <div class="flex flex-col justify-around">
    <div class="w-full flex flex-col text-xl items-center">
        <div class="flex gap-4 items-center text-3xl font-semibold"><i class="fas fa-angry text-5xl text-red-500"></i>{{neg}}%</div>
        <div class="pt-3 tracking-widest">Negative</div>
    </div>
    <div class="w-full flex flex-col text-xl items-center">
        <div class="flex gap-4 items-center text-3xl font-semibold"><i class="fas fa-smile text-5xl text-green-500"></i>{{pos}}%</div>
        <div class="pt-3 tracking-widest">Positive</div>
    </div>
    <div class="w-full flex flex-col text-xl items-center">
        <div class="flex gap-4 items-center text-3xl font-semibold"><i class="fas fa-meh text-5xl text-yellow-500"></i>{{neu}}%</div>
        <div class="pt-3 tracking-widest">Neutral</div>
    </div>
</div> 
</div>
{% endif %}

{% endblock content %}
