{% extends 'layout.html' %}
{% load static %}


{% block content %}


        <div class="flex flex-wrap justify-evenly gap-4 p-4 w-full">
            {% for tweet in tweets %}
    <div class="w-full md:max-w-[30%] max-w-full bg-white shadow-xl p-4 rounded-2xl">
  <div class="relative flex flex-col min-w-0 break-words bg-transparent border-0  rounded-2xl bg-clip-border">
        <div class="flex justify-between items-center pt-2 px-2">
            <span class="leading-tight text-size-xs text-slate-400">Username:</span>
            <h6 class="mb-0 leading-normal text-size-sm">{{tweet.username}}</h6>
        </div>
        <div class="flex justify-between items-center px-2">
            <span class="leading-tight text-size-xs text-slate-400">Date/Time:</span>
            <h6 class="mb-0 leading-normal text-size-sm">{{tweet.date}}</h6>
        </div>
        <div class="flex justify-between items-center px-2">
            <span class="leading-tight text-size-xs text-slate-400">Polarity:</span>
            <h6 class="mb-0 leading-normal text-size-sm {{tweet.polarity}}">{{tweet.polarity}}</h6>
        </div>
        <div class="flex justify-between items-center px-2">
            <span class="leading-tight text-size-xs text-slate-400">Source:</span>
            <a href="{{tweet.url}}" target="_blank" class="mb-0 leading-normal text-size-sm text-blue-500 underline">show tweet</a>
        </div>
        <div class="flex justify-between items-center px-2">
            <span class="leading-tight text-size-xs text-slate-400">Topic:</span>
            <h6 class="mb-0 leading-normal text-size-sm">{{tweet.topic}}</h6>
        </div>
        <style>
            .hidescroll::-webkit-scrollbar {
                display: none;
            }

            .hidescroll {
              -ms-overflow-style: none;  /* IE and Edge */
              scrollbar-width: none;  /* Firefox */
            }
        </style>
      <div class="hidescroll relative w-full h-80 overflow-y-scroll">
        <blockquote class="twitter-tweet shadow-xl rounded-2xl"><a href="{{tweet.url}}"></a></blockquote> 
    </div>
    <div class="flex w-full h-full">
      <form method="POST" action="/action" class="flex items-center justify-between w-full gap-2">
          {% csrf_token %}
          <button type="button" class="inline-block px-6 py-3 font-bold text-center uppercase align-middle transition-all bg-transparent border rounded-lg cursor-pointer border-lime-500 leading-pro text-size-xs ease-soft-in tracking-tight-soft shadow-soft-md bg-150 bg-x-25 hover:scale-102 active:opacity-85 hover:shadow-soft-xs text-lime-500 w-full">Mark it safe</button>
          <input name="id" value={{tweet.id}} type="hidden">
          <button type="submit" class="inline-block px-6 py-3 font-bold text-center text-white uppercase align-middle transition-all bg-red-500 rounded-lg cursor-pointer leading-pro text-size-xs ease-soft-in tracking-tight-soft shadow-soft-md bg-150 bg-x-25 hover:scale-102 active:opacity-85 hover:shadow-soft-xs w-full">Take action</button>
        
      </form>
    </div>
  </div>
</div>
      
{% endfor %}
            </div>


<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>    
{% endblock content %}
